@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(white, 90%, skyblue);
  font-family: "Noto Sans JP", sans-serif;
}
