body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: skyblue;
  padding: 7px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.2);
}

.list {
  color: white;
  text-decoration: none;
  text-shadow: 2px 1.5px black;
}

@keyframes Hello {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
}
