body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.5);
}

.link {
  color: white;
  text-decoration: none;
  text-shadow: 2px 1.5px black;
}

@keyframes Hello {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
}
